{% if debugSiteUrl %}
    {% set mtmPreviewIdUrlStart = '<a href="' ~ previewUrl|e('html_attr') ~ '" target="_blank">' %}
    {% set mtmPreviewIdUrlEnd = '</a>' %}
{% else %}
    {% set mtmPreviewIdUrlStart = '' %}
    {% set mtmPreviewIdUrlEnd = '' %}
{% endif %}

{{ 'TagManager_PreviewDebugEnabledNotificationLine1'|translate(version) }}
<a class="title disablePreviewDebug"
   data-idcontainer="{{ idcontainer|e('html_attr') }}"
>{{ 'TagManager_DisablePreview'|translate }}</a>
<br>
<div class="preview-debug-url-div">
    <input type="url" id="previewDebugUrl" class="browser-default" placeholder="https://example.org"
           value="{{ debugSiteUrl|e('html_attr')}}">
    <button type="button" class="btn btn-small"
            data-idcontainer="{{ idcontainer|e('html_attr') }}"
            data-debug-site-url="{{ debugSiteUrl|e('html_attr') }}">
        {{ 'TagManager_PreviewDebugUrlButtonText'|translate }}
    </button>
</div>
<br>
{{ 'TagManager_PreviewDebugEnabledNotificationLine2'|translate(
    '<strong>',
    '</strong>',
    '<strong>' ~ mtmPreviewIdUrlStart ~ '?' ~ mtmPreviewId ~ mtmPreviewIdUrlEnd ~ '</strong>',
    '<strong>' ~ mtmPreviewIdUrlStart ~ '&' ~ mtmPreviewId ~ mtmPreviewIdUrlEnd ~ '</strong>',
    '<br>')|raw }}
<br>
{{ 'TagManager_PreviewDebugEnabledNotificationLine3'|translate('<a href="https://matomo.org/faq/tag-manager/why-is-debug-console-not-loading-for-me/" target="_blank">','</a>')|raw }}