{% if wasDetected %}
<div class="system notification notification-info">
    {{ 'SitesManager_ReactDetected'|translate(
        '<a target="_blank" rel="noreferrer noopener" href="https://matomo.org/guide/tag-manager/">',
        '</a>',
        '<a target="_blank" rel="noreferrer noopener" href="https://matomo.org/faq/new-to-piwik/how-do-i-start-tracking-data-with-matomo-on-websites-that-use-react/">',
        '</a>'
    ) }}
</div>
{% endif %}

<p>{{'TagManager_SiteWithoutDataReactIntro'|translate}}</p>
<br>
<p>{{'SitesManager_SiteWithoutDataCloudflareFollowStepsIntro'|translate}}</p>
<div
        vue-entry="TagManager.TrackingSPAPage"
        current-action="{{ action|json_encode }}"
        show-container-row="{{ showContainerRow|json_encode }}"
        js-framework="react"
>
</div>
<br>
<p>{{ 'TagManager_SiteWithoutDataReactFollowStepCompleted'|translate('<strong>', '</strong>')|raw }}</p>